<div class="form-parent">
  <!-- notification -->
  <div *ngIf="notification" class="notification-container">
    <div
      class="notification-message"
      [ngClass]="response?.isSuccess ? 'green' : 'red'"
    >
      {{ notification }}
    </div>
  </div>
  <!-- end -->

  <!-- form -->
  <form class="message-form" (ngSubmit)="onSubmit()">
    <mat-form-field class="form-full-width">
      <mat-label>Message *</mat-label>
      <input
        [(ngModel)]="inputText"
        name="message"
        matInput
        #message="ngModel"
        maxlength="50"
      />

      <mat-hint align="end">{{ inputText.length }} / 50</mat-hint>
    </mat-form-field>
    <button class="btn" mat-flat-button color="primary">Save to DB</button>
  </form>
  <!-- end -->
</div>
